.x-emb-submit {
    background-image: url(/webroot/decision/view/report?op=toolbar_icon&id=toolbar-image.png) !important;
    background-repeat: no-repeat !important;
    background-position: 0px -0px !important;
}

.x-emb-submitall {
    background-image: url(/webroot/decision/view/report?op=toolbar_icon&id=toolbar-image.png) !important;
    background-repeat: no-repeat !important;
    background-position: 0px -18px !important;
}

.x-emb-submitforcily {
    background-image: url(/webroot/decision/view/report?op=toolbar_icon&id=toolbar-image.png) !important;
    background-repeat: no-repeat !important;
    background-position: 0px -36px !important;
}

.x-emb-first {
    background-image: url(/webroot/decision/view/report?op=toolbar_icon&id=toolbar-image.png) !important;
    background-repeat: no-repeat !important;
    background-position: 0px -54px !important;
}

.x-emb-previous {
    background-image: url(/webroot/decision/view/report?op=toolbar_icon&id=toolbar-image.png) !important;
    background-repeat: no-repeat !important;
    background-position: 0px -72px !important;
}

.x-emb-next {
    background-image: url(/webroot/decision/view/report?op=toolbar_icon&id=toolbar-image.png) !important;
    background-repeat: no-repeat !important;
    background-position: 0px -90px !important;
}

.x-emb-last {
    background-image: url(/webroot/decision/view/report?op=toolbar_icon&id=toolbar-image.png) !important;
    background-repeat: no-repeat !important;
    background-position: 0px -108px !important;
}

.x-emb-reload {
    background-image: url(/webroot/decision/view/report?op=toolbar_icon&id=toolbar-image.png) !important;
    background-repeat: no-repeat !important;
    background-position: 0px -126px !important;
}

.x-emb-pagesetup {
    background-image: url(/webroot/decision/view/report?op=toolbar_icon&id=toolbar-image.png) !important;
    background-repeat: no-repeat !important;
    background-position: 0px -144px !important;
}

.x-emb-flashprint {
    background-image: url(/webroot/decision/view/report?op=toolbar_icon&id=toolbar-image.png) !important;
    background-repeat: no-repeat !important;
    background-position: 0px -162px !important;
}

.x-emb-pdfprint {
    background-image: url(/webroot/decision/view/report?op=toolbar_icon&id=toolbar-image.png) !important;
    background-repeat: no-repeat !important;
    background-position: 0px -180px !important;
}

.x-emb-appletprint {
    background-image: url(/webroot/decision/view/report?op=toolbar_icon&id=toolbar-image.png) !important;
    background-repeat: no-repeat !important;
    background-position: 0px -198px !important;
}

.x-emb-pdf {
    background-image: url(/webroot/decision/view/report?op=toolbar_icon&id=toolbar-image.png) !important;
    background-repeat: no-repeat !important;
    background-position: 0px -216px !important;
}

.x-emb-excel {
    background-image: url(/webroot/decision/view/report?op=toolbar_icon&id=toolbar-image.png) !important;
    background-repeat: no-repeat !important;
    background-position: 0px -234px !important;
}

.x-emb-word {
    background-image: url(/webroot/decision/view/report?op=toolbar_icon&id=toolbar-image.png) !important;
    background-repeat: no-repeat !important;
    background-position: 0px -252px !important;
}

.x-emb-image {
    background-image: url(/webroot/decision/view/report?op=toolbar_icon&id=toolbar-image.png) !important;
    background-repeat: no-repeat !important;
    background-position: 0px -270px !important;
}

.x-emb-html {
    background-image: url(/webroot/decision/view/report?op=toolbar_icon&id=toolbar-image.png) !important;
    background-repeat: no-repeat !important;
    background-position: 0px -288px !important;
}

.x-emb-bmp {
    background-image: url(/webroot/decision/view/report?op=toolbar_icon&id=toolbar-image.png) !important;
    background-repeat: no-repeat !important;
    background-position: 0px -306px !important;
}

.x-emb-jpg {
    background-image: url(/webroot/decision/view/report?op=toolbar_icon&id=toolbar-image.png) !important;
    background-repeat: no-repeat !important;
    background-position: 0px -324px !important;
}

.x-emb-gif {
    background-image: url(/webroot/decision/view/report?op=toolbar_icon&id=toolbar-image.png) !important;
    background-repeat: no-repeat !important;
    background-position: 0px -342px !important;
}

.x-emb-png {
    background-image: url(/webroot/decision/view/report?op=toolbar_icon&id=toolbar-image.png) !important;
    background-repeat: no-repeat !important;
    background-position: 0px -360px !important;
}

.x-emb-print {
    background-image: url(/webroot/decision/view/report?op=toolbar_icon&id=toolbar-image.png) !important;
    background-repeat: no-repeat !important;
    background-position: 0px -378px !important;
}

.x-emb-export {
    background-image: url(/webroot/decision/view/report?op=toolbar_icon&id=toolbar-image.png) !important;
    background-repeat: no-repeat !important;
    background-position: 0px -396px !important;
}

.x-emb-email {
    background-image: url(/webroot/decision/view/report?op=toolbar_icon&id=toolbar-image.png) !important;
    background-repeat: no-repeat !important;
    background-position: 0px -414px !important;
}

.x-emb-frozzen {
    background-image: url(/webroot/decision/view/report?op=toolbar_icon&id=toolbar-image.png) !important;
    background-repeat: no-repeat !important;
    background-position: 0px -432px !important;
}

.x-emb-default {
    background-image: url(/webroot/decision/view/report?op=toolbar_icon&id=toolbar-image.png) !important;
    background-repeat: no-repeat !important;
    background-position: 0px -450px !important;
}

.x-emb-deletecolumn {
    background-image: url(/webroot/decision/view/report?op=toolbar_icon&id=toolbar-image.png) !important;
    background-repeat: no-repeat !important;
    background-position: 0px -468px !important;
}

.x-emb-deleterow {
    background-image: url(/webroot/decision/view/report?op=toolbar_icon&id=toolbar-image.png) !important;
    background-repeat: no-repeat !important;
    background-position: 0px -486px !important;
}

.x-emb-appendcolumn {
    background-image: url(/webroot/decision/view/report?op=toolbar_icon&id=toolbar-image.png) !important;
    background-repeat: no-repeat !important;
    background-position: 0px -504px !important;
}

.x-emb-appendrow {
    background-image: url(/webroot/decision/view/report?op=toolbar_icon&id=toolbar-image.png) !important;
    background-repeat: no-repeat !important;
    background-position: 0px -522px !important;
}

.x-emb-verify {
    background-image: url(/webroot/decision/view/report?op=toolbar_icon&id=toolbar-image.png) !important;
    background-repeat: no-repeat !important;
    background-position: 0px -540px !important;
}

.x-emb-writeoffline {
    background-image: url(/webroot/decision/view/report?op=toolbar_icon&id=toolbar-image.png) !important;
    background-repeat: no-repeat !important;
    background-position: 0px -558px !important;
}

.x-emb-clear {
    background-image: url(/webroot/decision/view/report?op=toolbar_icon&id=toolbar-image.png) !important;
    background-repeat: no-repeat !important;
    background-position: 0px -576px !important;
}

.x-emb-undo {
    background-image: url(/webroot/decision/view/report?op=toolbar_icon&id=toolbar-image.png) !important;
    background-repeat: no-repeat !important;
    background-position: 0px -594px !important;
}

.x-emb-redo {
    background-image: url(/webroot/decision/view/report?op=toolbar_icon&id=toolbar-image.png) !important;
    background-repeat: no-repeat !important;
    background-position: 0px -612px !important;
}

.x-emb-viewprocess {
    background-image: url(/webroot/decision/view/report?op=toolbar_icon&id=toolbar-image.png) !important;
    background-repeat: no-repeat !important;
    background-position: 0px -630px !important;
}

.x-emb-add {
    background-image: url(/webroot/decision/view/report?op=toolbar_icon&id=toolbar-image.png) !important;
    background-repeat: no-repeat !important;
    background-position: 0px -648px !important;
}

.x-emb-delete {
    background-image: url(/webroot/decision/view/report?op=toolbar_icon&id=toolbar-image.png) !important;
    background-repeat: no-repeat !important;
    background-position: 0px -666px !important;
}

.x-emb-ok {
    background-image: url(/webroot/decision/view/report?op=toolbar_icon&id=toolbar-image.png) !important;
    background-repeat: no-repeat !important;
    background-position: 0px -684px !important;
}

.x-emb-preview {
    background-image: url(/webroot/decision/view/report?op=toolbar_icon&id=toolbar-image.png) !important;
    background-repeat: no-repeat !important;
    background-position: 0px -702px !important;
}

.x-emb-edit {
    background-image: url(/webroot/decision/view/report?op=toolbar_icon&id=toolbar-image.png) !important;
    background-repeat: no-repeat !important;
    background-position: 0px -720px !important;
}

.x-emb-sort {
    background-image: url(/webroot/decision/view/report?op=toolbar_icon&id=toolbar-image.png) !important;
    background-repeat: no-repeat !important;
    background-position: 0px -738px !important;
}

.x-emb-ascend {
    background-image: url(/webroot/decision/view/report?op=toolbar_icon&id=toolbar-image.png) !important;
    background-repeat: no-repeat !important;
    background-position: 0px -756px !important;
}

.x-emb-descend {
    background-image: url(/webroot/decision/view/report?op=toolbar_icon&id=toolbar-image.png) !important;
    background-repeat: no-repeat !important;
    background-position: 0px -774px !important;
}

.x-emb-filter {
    background-image: url(/webroot/decision/view/report?op=toolbar_icon&id=toolbar-image.png) !important;
    background-repeat: no-repeat !important;
    background-position: 0px -792px !important;
}

.x-emb-setprinteroffset {
    background-image: url(/webroot/decision/view/report?op=toolbar_icon&id=toolbar-image.png) !important;
    background-repeat: no-repeat !important;
    background-position: 0px -810px !important;
}

.x-emb-formpre {
    background-image: url(/webroot/decision/view/report?op=toolbar_icon&id=toolbar-image.png) !important;
    background-repeat: no-repeat !important;
    background-position: 0px -828px !important;
}

.x-emb-formnext {
    background-image: url(/webroot/decision/view/report?op=toolbar_icon&id=toolbar-image.png) !important;
    background-repeat: no-repeat !important;
    background-position: 0px -846px !important;
}

.x-emb-stash {
    background-image: url(/webroot/decision/view/report?op=toolbar_icon&id=toolbar-image.png) !important;
    background-repeat: no-repeat !important;
    background-position: 0px -864px !important;
}

.x-emb-clearstash {
    background-image: url(/webroot/decision/view/report?op=toolbar_icon&id=toolbar-image.png) !important;
    background-repeat: no-repeat !important;
    background-position: 0px -882px !important;
}

.x-emb-customizexcel {
    background-image: url(/webroot/decision/view/report?op=toolbar_icon&id=toolbar-image.png) !important;
    background-repeat: no-repeat !important;
    background-position: 0px -900px !important;
}

.x-emb-label {
    background-image: url(/webroot/decision/view/report?op=toolbar_icon&id=toolbar-image.png) !important;
    background-repeat: no-repeat !important;
    background-position: 0px -918px !important;
}

.x-emb-finance {
    background-image: url(/webroot/decision/view/report?op=toolbar_icon&id=toolbar-image.png) !important;
    background-repeat: no-repeat !important;
    background-position: 0px -936px !important;
}

.x-emb-fund {
    background-image: url(/webroot/decision/view/report?op=toolbar_icon&id=toolbar-image.png) !important;
    background-repeat: no-repeat !important;
    background-position: 0px -954px !important;
}

.x-emb-link {
    background-image: url(/webroot/decision/view/report?op=toolbar_icon&id=toolbar-image.png) !important;
    background-repeat: no-repeat !important;
    background-position: 0px -972px !important;
}

.x-emb-list {
    background-image: url(/webroot/decision/view/report?op=toolbar_icon&id=toolbar-image.png) !important;
    background-repeat: no-repeat !important;
    background-position: 0px -990px !important;
}

.x-emb-homepage {
    background-image: url(/webroot/decision/view/report?op=toolbar_icon&id=toolbar-image.png) !important;
    background-repeat: no-repeat !important;
    background-position: 0px -1008px !important;
}

.x-emb-user {
    background-image: url(/webroot/decision/view/report?op=toolbar_icon&id=toolbar-image.png) !important;
    background-repeat: no-repeat !important;
    background-position: 0px -1026px !important;
}

.x-emb-overview {
    background-image: url(/webroot/decision/view/report?op=toolbar_icon&id=toolbar-image.png) !important;
    background-repeat: no-repeat !important;
    background-position: 0px -1044px !important;
}

.x-emb-新增 {
    background-image: url(/webroot/decision/view/report?op=toolbar_icon&id=toolbar-image.png) !important;
    background-repeat: no-repeat !important;
    background-position: 0px -1062px !important;
}
